<h1>Réinitialisez votre mot de passe</h1>
<p>Bonjour {{ user.username }},</p>
<p>Accédez au formulaire de modification de mot de passe en cliquant sur le lien ci-dessous :</p>
<p><a href="{{ absolute_url(path('check_token', {'slug':'password',token: token})) }}">{{ absolute_url(path('check_token', {'slug':'password',token: token})) }}</a></p>
<p>Ce lien expirera dans 1 heure</p>
